body {
    background-image: url("bg-train.jpg");
    background-size: cover;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: 	 rgb(0, 0, 0);
    background-color: rgb(255, 0, 0);
    display: inline;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}
p{
    color: 	 rgb(0, 0, 0);
    background-color: rgb(255, 0, 0);
   display: block;
   width: fit-content;
   margin:auto;
}
button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: darkred;
}

#decrement-btn {
    background: darkgreen;
}
#save-btn {
    background: rgb(0, 22, 166);
}
.contant {
    margin-top: 250px;
}
@media only screen and (max-width: 600px) {
    body {
        background-size:280%;
        
        
    }
  }